<!-- About Python -->
<!-- Neil Denning -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="About Python (Optional) at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/aboutpython.css">
    <title>About Python Styling Copy</title>
</head>
<body>
    <div class="outerBox">
        <h1 class="doe_heading">HTML | CSS Re-creation</h1>
        <div id="wrapper">
            <div id="header">
                <div id="left_header"> 
                    <img class="" alt="pythonLogo" src="/static/img/aboutPython_images/python.png">
                </div>
    
                <div id="right_header">
                    <div class="text_size">Text Size: <span ><a class="orange" href="">  Normal </a></span>
                        <span>  | </span><span><a class="orange" href="">   Large</a></span>
                    </div>
                    <div class="search_go_container">
                        <form>
                        <label for="search_box"></label>
                        <input type="search" id="search_box" name="search_box">
                        <input class="go_button" type="submit" value="GO">                                      
                        </form>
                    </div>                
                </div>
            </div>
            <div class="nav_menu_container">
                <ul class="nav_ul">
                    <li class="nav_li"><a class="nav_li_a" href="">About</a></li>
                    <li class="nav_li"><a class="nav_li_a" href="">Downloads</a></li>
                    <li class="nav_li"><a class="nav_li_a" href="">Documentation</a></li>
                    <li class="nav_li"><a class="nav_li_a" href="">Community</a></li>
                    <li class="nav_li"><a class="nav_li_a" href="">News</a></li>
                    <li class="nav_li"><a class="nav_li_a" href="">Events</a></li>
                </ul>
            </div>
            <div id="primary_content_container">
                <div id="list_links_mid_left_box">
                    <ul class="list_links_mid_left">
                        <li class="docs"><a class="ul_main_left_a" href="">Docs</a></li>
                        
                        <li class="av_talks"><a class="ul_main_left_a"  href="">Audio/Visual Talks</a></li>
                       
                        <li class="beginners_guide"><a  class="ul_main_left_a" href="">Beginner's Guide</a></li>
                        
                        <li class="developers_guide"><a  class="ul_main_left_a" href="">Developer's Guide</a></li>
                       
                        <li class="pep_index"><a  class="ul_main_left_a" href="">PEP Index</a></li>
                       
                        <li class="python_books"><a  class="ul_main_left_a" href="">Python Books</a></li>
                       
                        <li class="faq"><a  class="ul_main_left_a" href="">FAQ</a></li>
                        
                    </ul>
                </div>
                <div id="p_main_top_right_box">
                <p class="p_main_top_right">First appearing inn 1991, Python is a general-purpose, high-level, 
                interpreted programming languagge whose design focus emphasizes code 
                readability. Whether for process/analyzing data to powering many well-known 
                applications. Python is not only a great language for new programmers 
                but also powerful enough for seasoned developers building whatever 
                they can think of.</p>
                <ul class="ul_li_main_right">
                    <li class="beautiful">Beautiful is better than ugly;</li>
                    <li class="explicit">Explicit is better than implicit;</li>
                    <li class="simple">Simple is better than complex;</li>
                    <li class="complex">Complex is better than complicated;</li>
                    <li class="readability">Readability counts;</li>
                    <li class="zen">The Zen of Python</li>
                </ul>
                </div>
            </div>
            <div id="secondary_content_container">
                <div class="getting_started_box">
                    <h4>Getting Started</h4>
                    <p class="p_secondary">Python can be easy to pick up whether you're 
                        a first time programmer or you're experienced
                        with other languages. The following pages are a 
                        useful first step to get on your way writing
                        programs with Python!</p>
                    <div class="li_center">
                    <ul class="secondary_content_ul">
                        <li class="li_space">Beginner's Guide, Programmers</li>
                        <li class="li_space">Beginner's Guide, Non-Programmers</li>
                        <li class="li_space">Code sample and snippets for Beginners</li>
                    </ul>
                    </div>
                </div>
                <div class="applications_box">
                    <h4>Applications</h4>
                    <p class="p_secondary">The <span class="p_small">Python Package Index (PyPI)</span> hosts thousands 
                        of third-party modules for Python. Both Python's standard library and the community-contributed 
                        modules allow for endless possibilities.</p>
                    <div class="li_center">
                    <ul class="secondary_content_ul">
                        <li class="li_space">Web and Internet Development</li>
                        <li class="li_space">Database Access</li>
                        <li class="li_space">Desktop GUIs</li>
                        <li class="li_space">Network Programming</li>
                        <li class="li_space">Software and Game Development</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div id="footer">
                <ul class="ul_footer">
                    <li class="ul_li_footer">Help and General Contact</li>
                    <li class="ul_li_footer">Diversity Initiatives</li>
                    <li class="ul_li_footer">Submit Website Bugs</li>
                </ul>
                <p class="copyright">Copyright@2001-2016</p>
            </div>
        </div>
        <a class="returnHome" href="/">Return Home</a>
        <a class="returnHome" href="/aboutpython_original">About Python Original</a>        
        
        <footer id="aboutpy_img_footer">
            <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
            <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
            <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
            <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
            <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
            <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
            <h6>Powered By <span class="red">ReddGhost </span></h6> 
        </footer>
    </div>
    
</body>
</html>

 


