<!-- NRD Portfolio Algortithms
Neil Denning -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Algorithms by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Algorithms NRD</title>
</head>
<body>
    <main class="outerBox_algo_prev">
        <h1>Algorithms</h1>
        <a class="returnHome" href="/">Return Home</a>
        <h1>Python | JavaScript</h1>
        <a class="githubLink1" href="https://github.com/NDenning78/Copies_of_Code_for_Show/tree/master/Python_Fundamentals">View Python Code on GitHub!</a>
        <a class="githubLink2" href="https://github.com/NDenning78/Copies_of_Code_for_Show/tree/master/JS_Algos">View JavaScript Code on GitHub!</a>
        <img class="algo_prev1b" src="/static/img/project_snippets/JS_toTheMoon.png" alt="toTheMoon_js">
        <img class="algo_prev2b" src="/static/img/project_snippets/python_toTheMoon.png" alt="toTheMoon_python">
        <img class="algo_prev3b" src="/static/img/project_snippets/js_selectionSortNRD.png" alt="SelectionSort_nrd">
        <img class="algo_prev4b" src="/static/img/project_snippets/python_FibonacciBasic.png" alt="fibonacciBasic_python">
        <img class="algo_prev5b" src="/static/img/project_snippets/js_findMaxMinAvg.png" alt="maxminavg_js">
        <img class="algo_prev6b" src="/static/img/project_snippets/python_MaxMinAvg.png" alt="maxminavg_python">
        <img class="algo_prev7b" src="/static/img/project_snippets/python_ultimateAnalysis.png" alt="ultimateanalysis_python">
        <a class="returnHome" href="/">Return Home</a>
        
        <footer id="ps_img_footer">
            <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
            <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
            <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
            <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
            <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
            <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
            <h6>Powered By <span class="red">ReddGhost </span></h6> 
        </footer>    
    </main>
</body>
</html>