<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Photoshop by NRD">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>BackEnd Projects NRD</title>
</head>
<body>
    <main class="outerBox_sql_prev">
        <h1>BackEnd Projects</h1>
        <a class="returnHome" href="/">Return Home</a>
        <h1>MySQL Workbench ERD</h1>
        <h4>Quotes ERD</h4>
        <img class="sql_prev1b" src="/static/img/project_snippets/quotes_erd.png" alt="quotesErd">
        <h4>ResumeApp ERD</h4>
        <img class="sql_prev2b" src="/static/img/project_snippets/resumeapp_erd.png" alt="resumeappERD">
        <h4>Dojo Tweet ERD</h4>
        <img class="sql_prev3b" src="/static/img/project_snippets/dojoTweet_erd.png" alt="dojotweetERD">
        <!-- <h2>SQLite | SQLAlchemy</h2> -->
    <footer id="backend_footer">
        <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
        <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
        <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
        <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
        <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
        <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
        <h6>Powered By <span class="red">ReddGhost </span></h6> 
    </footer>
    </main>


</body>
</html>