<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Dojo tweet Main Preview</title>
</head>
<body>
    <main class="outerBox_dtmp">
            <a class="returnHome" href="/">Return Home</a>
            <h1 class="ds_heading">Dojo Tweets</h1>
            <p class="project_desc_ds">Login|Registration page</p>
            <img class="dtlgp_prev" src="/static/img/project_snippets/dojo_tweets_loginreg.png" alt="dojo_tweet_loginreg_preview">
            <p class="project_desc_ds">Main tweet page</p>
            <img class="dtmp_prev" src="/static/img/project_snippets/dojo_tweets_main.png" alt="dojo_tweet_main_preview">
            <p class="project_desc_ds">Python in VS Code</p>
            <img class="dtcp_prev" src="/static/img/project_snippets/dojo_tweet_python_html.png" alt="dojo_tweet_code_preview">
            
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="https://github.com/NDenning78/Copies_of_Code_for_Show/blob/master/dojo_tweets_edit/server.py">View Code on GitHub!</a>
            
            <footer id="ps_img_footer">
                <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
                <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
                <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
                <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
                <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
                <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
                <h6>Powered By <span class="red">ReddGhost </span></h6> 
            </footer>
        </main>
</body>
</html>