<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Dojo tweet Main Preview</title>
</head>
<body>
    <main class="outerBox_dsmp">
            <a class="returnHome" href="/">Return Home</a>
            <h1 class="ds_heading">Dojo Survey</h1>
            <p class="project_desc_ds">Main page</p>
            <img class="dsm_prev" src="/static/img/project_snippets/dojo_survey_index.png" alt="dojo_survey_main">
            <p class="project_desc_ds">Results page</p>
            <img class="dsr_prev" src="/static/img/project_snippets/dojo_survey_results.png" alt="dojo_survey_results">
            <p class="project_desc_ds">Python in VS Code</p>
            <img class="dscp_prev" src="/static/img/project_snippets/dojo_survey_pythoncode.png" alt="dojo_survey_code_preview">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="https://github.com/NDenning78/Copies_of_Code_for_Show/blob/master/DojoSurvey_nrd/server.py">View Code on GitHub!</a>

            <footer id="ps_img_footer">
                <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
                <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
                <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
                <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
                <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
                <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
                <h6>Powered By <span class="red">ReddGhost </span></h6> 
            </footer>
    </main>
</body>
</html>