<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Dojo tweet Code Preview</title>
</head>
<body>
    <main class="outerBox_dtcp">
            <img class="dtcp_prev" src="/static/img/project_snippets/dojo_tweet_python_html.png" alt="dojo_tweet_code_preview">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="/dojo_tweet_main_preview">See Render Preview</a>
            <a class="returnHome" href="https://github.com/NDenning78/Copies_of_Code_for_Show/blob/master/dojo_tweets_edit/server.py">View Code on GitHub!</a>
    </main>
</body>
</html>