<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/Internet_proj.css">
    <title>Internet Original</title>
</head>
<body>
    <main class="outerBox">
            <h1 class="doe_heading">Original Screenshot</h1>
            <img class="outerBox_img" src="/static/img/project_snippets/internet_original.png" alt="internet_original_image">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="/internet_proj">HTML | CSS Re-creation</a>

            <footer id="aboutpy_img_footer">
                <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
                <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
                <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
                <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
                <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
                <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
                <h6 class="h6">Powered By <span class="red">ReddGhost </span></h6> 
            </footer>   
        </main>
</body>
</html>