<!-- Internet
    Neil Denning -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Internet (optional) at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/Internet_proj.css">
    <title>Internet (optional_nrd)</title>
</head>
<body>
    <div class="outerBox">
        <h1 class="doe_heading">HTML | CSS Re-creation</h1>
        <div id="wrapper">
            <header class="header_aside">
                <img class="img_globe" src="/static/img/internetProj_images/globe.png" alt="globe">
                <h1>The Inter<span class="blue">net</span></h1>
                <h2>The World Wide Web</h2>
            </header>
            <div id="gradient_box">
                <div>
                    <aside class="bottom_border">      
                        <h5>So, what's an <span class="red"> Internet?</span></h5>    
                        <p class="p_aside">An<span class="blue"> Inter</span>connected
                            <span class="blue"> Net</span>work of computers all around the world!
                        </p>    
                        <input class="watch_a_video_button" type="submit" value="WATCH A VIDEO">    
                        <input class="more_resources_button" type="submit" value="MORE RESOURCES">      
                    </aside>
    
                    <section class="img_ad_bg">     
                        <h3>Reinvent Your career in just 14 weeks</h3>    
                        <img class="img_ninja" src="/static/img/internetProj_images/ninja.png" alt="ninja">    
                        <input class="learn_more_button" type="submit" value="Learn More >>>">    
                    </section>
                </div>
    
                <main>
                    <div class="main_head" >    
                        <img class="img_home" src="/static/img/internetProj_images/home.png" alt="home">    
                        <p class="dns">DNS</p>    
                        <img class="img_phone" src="/static/img/internetProj_images/phone.png" alt="phone_image">
    
                        <div>
                            <p class="open_hours">Mon - Fri 9 a.m. - 5 p.m. (EST)</p>
                            <p class="phone_domestic">855.967.3787</p>
                            <p class="phone_international">International +1.617.963.0555</p>
                        </div>
                    </div>
    
                    <div class="main_p1" >    
                        <h4>Clients and Servers</h4>    
                        <p>Computers connected to the <span class="teal">Web</span> 
                                are called <span class="bold"> clients</span> and 
                                <span class="bold"> servers</span>.</p>    
                        <ul>
                            <li><span class="teal">Clients</span> are the typical Web user's Internet-connected devices
                                (for example, your computer connected to your Wi-Fi, or your 
                                phone connected to your mobile network) and 
                                <span class="teal">Web-accessing software</span> 
                                avilable on those devices (usually a web browser like Firefox 
                                or Chrome).
                            </li>
                            <li>
                                <span class="teal">Servers </span>are computers that store 
                                <span class="teal">webpages</span>, <span class="teal">sites</span>,
                                 or <span class="teal">apps</span>. 
                                When a client device wants to access a webpage, a copy of the 
                                page is downloaded from the server onto the client machine
                                to be displayed in the user's web browser.
                            </li>
                        </ul>
                    </div>
                    <img class="img_main_client_server" src="/static/img/internetProj_images/client_server.jpg" alt="client_server">
                    
                    <div class="main_p2" >    
                        <h4>So What Actually Happens?</h4>
                        <ol>
                            <li>The browser goes to the <span class="teal">DNS server</span> and finds the real address of the 
                                <span class="teal">server</span> that the website lives on.
                            </li>                        
                            <li>
                                The browser sends an <span class="teal">HTTP request</span> message to the server asking it to send a copy
                                of the website to the client.
                            </li>
                            <li>
                                If the server approves the client's request, the server sends the client a <span class="teal">"200 OK" message</span>,
                                which means "Permision granted! Here you go!", and then starts sending
                                the website's files to the browser as a series of small chunks.
                            </li>
                            <li>
                                The browser assembles the small chunks into a complete website and displays it to you!
                            </li>
                        </ol>
                    </div>    
                    <footer>                     
                        <img class="img_html" src="/static/img/internetProj_images/html.png" alt="image_html">                     
                        <div class="footer_right">                        
                            <h6>The Big 3 - HTML, CSS, JavaScript</h6>
                            <p class="footer_p">While the server can process information in many different languages, 
                                the files that they serve to the client are <span class="italic">always</span> going to be some
                                combination of HTML, CSS, and JavaScript!
                            </p>
                            <p class="footer_p">Learn more about the Big 3 <a class="teal" href="/">here</a>!</p>
                        </div>
                    </footer>
                </main>
            </div>
        </div>  
        <a class="returnHome" href="/">Return Home</a>
        <a class="returnHome" href="/internet_original">Styling Original</a>

        <footer id="aboutpy_img_footer">
            <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
            <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
            <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
            <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
            <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
            <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
            <h6 class="h6">Powered By <span class="red">ReddGhost </span></h6> 
        </footer>    
    </div>      
</body>
</html>