<!-- Portfolio Jayne Doe -->
<!-- Neil Denning -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/Portfolio_JayneDoe.css">
    <title>Portfolio Jayne Doe</title>
</head>
<body>
    <div class="outerBox">
        <h1 class="doe_heading">HTML | CSS Re-creation</h1>
        <div id="wrapper">
            <header id="header">
                <h1>Jayne Doe</h1>
                <h2>Master of Shadows and the Internet!</h2>
                
            </header>
            
            <div id="pic_container">
                <img class="img_photo_of_me" src="/static/img/Portfolio_JDoe/photo_of_me.jpg">    
            </div>        
            <div id="about_container"><div class="about_header"><span class="h3">About..</span></div>
            <p class="p_horizontal">Hello! I'm an extrememly driven and creative Full Stack Developer who is currently
                open for career oppurtunities as a front-end or back-end developer in 
                the Greater Seattle Area.</p>       
            <p class="p_horizontal">I'm a recent graduate of Coding Dojo, a coding school located in Bellevue, WA that
                teaches 3 full stacks in 3 months. I'm capable of learning new technologies
                very quickly, and am always looking for oppurtunities to further expand my skills
                and grow as a developer.
            </p>
           
            <a class="continue_reading" href="/jayneDoe_proj">Continue Reading...</a>
            </div>
    
            <div id="la_mode">
                <div class="la_mode_header"><span class="h3">La Mode</span></div>
                <div class="img_holder"><img class="img_la_mode" src="/static/img/Portfolio_JDoe/lamode.png"></div>
                <div class="la_mode_p"><p class="p_vertical">La Mode is an Ecommerce website for designed to market various clothing
                    products. Users are able to view the available garments, select their
                    desired quantity, and compile a shopping cart for making a final purchase.
                    </p></div>
                    <div class="tech_header"><span class="h4">Technologies:</span></div>
                    <div>
                        <img class="img_logos_small" src="/static/img/Portfolio_JDoe/php.png">
                        <img class="img_logos_small" src="/static/img/Portfolio_JDoe/codeigniter.png">
                        <img class="img_logos_small" src="/static/img/Portfolio_JDoe/jQuery.png">
                        <img class="img_logos_small" src="/static/img/Portfolio_JDoe/ajax.png">
                        <img class="img_logos_small" src="/static/img/Portfolio_JDoe/mysql.png">
                        <img class="img_logos_small" src="/static/img/Portfolio_JDoe/HTML.png">
                        <img class="img_logos_small" src="/static/img/Portfolio_JDoe/CSS.png">
                        <img class="img_logos_small" src="/static/img/Portfolio_JDoe/bootstrap.png">
                    </div>
                    <div><a class="la_mode_link" href="/jayneDoe_proj">La Mode</a></div>
            </div>
    
            <div id="family_contacts">
                <div class="family_contacts_header"><span class="h3">Family Contacts</span></div>
                <div class="img_holder"><img class="img_family_contacts" src="/static/img/Portfolio_JDoe/familycontacts.png"></div>
                <div class="family_contacts_p"><p class="p_vertical">Family Contacts is a free application for managing, 
                    sharing, and visualizing your family relationships for both extended and immediate
                    family. As an essential feature of the project, your log-in information determines 
                    who you can see and reveals how people are related to you.
                    </p></div>
                    <div class="tech_header"><span class="h4">Technologies:</span></div>
                    <div>
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/JavaScript.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/mongodb.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/expressjs.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/angular.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/nodejs.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/HTML.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/CSS.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/socket.png">
                        </div>
                        <div><a class="family_contacts_link" href="/jayneDoe_proj">Family Contacts</a></div>
            </div>
            <div id="fiveEleven">
                <div class="fiveEleven_header"><span class="h3">fiveEleven</span></div>
                <div class="img_holder"><img class="img_fiveEleven" src="/static/img/Portfolio_JDoe/fiveEleven.png"></div>
                <div class="fiveEleven_p"><p class="p_vertical">Five Eleven is a dat visualization project built on the Python stack.
                    The application transforms the developer job-hunt into a more visual, user friendly experience.
                    Based on location, technology popularity, and other vast data sets, users may easily visualize
                    the varying sizes and concentrations of their junior developer job market across the nation.
                    </p></div>
                    <div class="tech_header"><span class="h4">Technologies:</span></div>
                    <div>
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/python.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/django.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/d3.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/angular.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/sqlite.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/HTML.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/CSS.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/JavaScript.png">
                            <img class="img_logos_small" src="/static/img/Portfolio_JDoe/materialize.png">
                        </div>
                        <div><a class="fiveEleven_link" href="/jayneDoe_proj">fiveEleven</a></div>
    
            </div>
            <div id="footer">
                <div><a class="email" href="/jayneDoe_proj">jdoe@gmails.com </a><span><span> | </span> 206-555-1212</span></div>
                <div class="contacts">
                        <img class="img_logos_tiny" src="/static/img/Portfolio_JDoe/github.png">
                        <a href="/jayneDoe_proj">jaynedev</a>
                        <img class="img_logos_tiny" src="/static/img/Portfolio_JDoe/linkedin.png">
                        <a href="/jayneDoe_proj">jayne-doe</a>
                        <img class="img_logos_tiny" src="/static/img/Portfolio_JDoe/twitter.png">
                        <a href="/jayneDoe_proj">jdtweets</a>
                        <img class="img_logos_tiny" src="/static/img/Portfolio_JDoe/codepen.png">
                        <a href="/jayneDoe_proj">jaynedev</a>
                </div>
            </div>
        </div>
        <a class="returnHome" href="/">Return Home</a>
        <a class="returnHome" href="/jaynedoe_original">Styling Original </a>
        
        <footer id="aboutpy_img_footer">
            <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
            <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
            <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
            <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
            <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
            <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
            <h6>Powered By <span class="red">ReddGhost </span></h6> 
        </footer>
    </div>


</body>
</html>
