<!-- NRD Portfolio Photoshop Samples
Neil Denning -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Photoshop by NRD">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Photoshop Projects NRD</title>
</head>
<body>
    <main class="outerBox_ps_prev">
        <a class="returnHome" href="/">Return Home</a>
        <h1 class="ps_heading">Photoshop Projects</h1>
        <img class="ps_prev1b" src="/static/img/ps_snippets/NRDredswirl.jpg" alt="">
        <img class="ps_prev2b" src="/static/img/ps_snippets/NRDLOGO_holo1_2.png" alt="">
        <img class="ps_prev3b" src="/static/img/ps_snippets/nrdlogotxt2plsticwrap2.jpg" alt="">
        <img class="ps_prev4b" src="/static/img/ps_snippets/OldFaithful5fx.jpeg" alt="">
        <img class="ps_prev5b" src="/static/img/ps_snippets/QuantumChip_Design1.jpg" alt="">
        <img class="ps_prev6b" src="/static/img/ps_snippets/Vday1E1.jpg" alt="">

        <a class="returnHome" href="/">Return Home</a>    
        <footer id="ps_img_footer">
            <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
            <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
            <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
            <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
            <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
            <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
            <h6>Powered By <span class="red">ReddGhost </span></h6> 
        </footer>
    </main>
</body>
</html>