<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quotes by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Quotes Main Preview</title>
</head>
<body>
    <main class="outerBox_qmp">
            <a class="returnHome" href="/">Return Home</a>
            <h1 class="fq_heading">Famous Quotes</h1>
            <p class="project_desc_q">Login|Registration page</p>
            <img class="qlgreg_prev" src="/static/img/project_snippets/quotes_loginreg.png" alt="quotes_loginreg">
            <p class="project_desc_q">Main Quote page</p>
            <img class="qm_prev1" src="/static/img/project_snippets/quotes_main.png" alt="quotes_main">
            <p class="project_desc_q">Quote details page</p>
            <img class="qd_prev2" src="/static/img/project_snippets/quotes_details.png" alt="quote_details">
            <p class="project_desc_q">Edit account page</p>
            <img class="qea_prev3" src="/static/img/project_snippets/quotes_editacct.png" alt="quote_editacct">
            <p class="project_desc_q">MySQL ERD</p>
            <img class="qerd_prev4" src="/static/img/project_snippets/quotes_erd.png" alt="quotes_erd">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="https://github.com/NDenning78/Copies_of_Code_for_Show/tree/master/quotes_project">See Code on GitHub</a>
            
            <footer id="fq_img_footer">
                <img class="logo_img_footer" src="/static/img/Language_images/HTML.png" alt="HTML_img">
                <img class="logo_img_footer" src="/static/img/Language_images/CSS.png" alt="CSS_img">
                <img class="logo_img_footer" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
                <img class="logo_img_footer" src="/static/img/Language_images/python.png" alt="Python_img">
                <img class="logo_img_footer" src="/static/img/Language_images/github.png" alt="GitHub_img">
                <img class="logo_img_footer" src="/static/img/Language_images/mysql.png" alt="MySQL_img">  
                <h6>Powered By <span class="red">ReddGhost </span></h6> 
            </footer>    
        </main>
</body>
</html>